.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.drawer {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #ffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.04);
    padding: 30px;

    h2 {
        margin: 0;
    }

    .items {
        overflow: auto;
        margin-bottom: 50px;
    }
}

.items {
    flex: 1;
}

.cartTotalBlock {
    div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
    }

    ul {
        margin-bottom: 40px !important;

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
        }
    }

    .greenButton {
        position: relative;


        &:hover {
            img {
                transform: translateX(5px);
            }
        }

        img {
            position: absolute;
            right: 30px;
            top: 20px;
            transition: 0.2s ease-in-out;

        }
    }


}

.greenButton {
    width: 100%;
    border-radius: 18px;
    background: #9DD558;
    height: 55px;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background: lighten($color: #9DD558, $amount: 7%);
    }

    &:active {
        background: darken($color: #9DD558, $amount: 8%);
    }
}

.cartItem {
    padding: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;


    .cardItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 20px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    b {
        font-size: 14px;
    }

    .removeBtn {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}